streamlit
streamlit-authenticator
pandas
langchain
openai
PyPDF2
langchain
sentence-transformers
faiss-cpu
langchain-community
langchain-huggingface
groq
langchain-groq
dotenv
pandas
langchain-core
pdfplumber
sentence-transformers 
faiss-cpu 
unstructured 
pandas 
numpy 
scikit-learn
streamlit
langchain-ollama
streamlit-mic-recorder
psycopg2-binary
bcrypt
streamlit-option-menu
supabase
jinja2
pdfkit
weasyprint